<div class="box box-widget widget-user-2">
    <div class="widget-user-header bg-light-blue">
        <div class="widget-user-image">
            <img class="img-circle" src="upload/groups/<%= roomInfo[0].avatar %>" alt="<%= roomInfo[0].username %>">
        </div>
        <h3 class="widget-user-username"><%= roomInfo[0].username %></h3>
    </div>
    <div class="box-footer no-padding">
        <ul class="nav nav-stacked">
            <li><a href="#">Số lượng <span class="pull-right badge bg-blue total-member">1</span></a></li>
            <li><a href="#">Ngôn ngữ <span class="pull-right badge bg-aqua">Tiếng việt</span></a></li>
            <li><a href="#">Thể loại<span class="pull-right badge bg-green">Giáo dục</span></a></li>
        </ul>
    </div>
</div>