<%
   statusHelper = (status, link) =>{
      let xhtml = '';
      if(status === "active"){
         xhtml = '<span class="label label-success">active</span>';
      }else if(status === "inactive"){
         xhtml = '<span class="label label-warning">inactive</span>';
      }
      return `<a href="${link}"> ${xhtml}</a>`;
   }
%>
