<%
	const folderUpload = "upload/groups/";
%>
<% include ./../../helpers/show-box-room.ejs %> 
<div class="row">
	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">Phòng Chat</h3>
			<span data-toggle="tooltip" title="" class="badge bg-light-blue count" data-original-title="2 Rooms"><%= listRooms.length %></span>

			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
			</div>
		</div>
		<div class="box-body scroll-box">
			<%- showBoxRoom(listRooms) %>
		</div>
	</div>
</div>