<div class="wrapper">
	<div class="content-wrapper">
		<div class="container">
			<section class="content">
				<div class="col-md-8 no-padding-left">
					<% include ./boxDirectChat.viewHome.ejs %>
				</div>
				<div class="col-md-4">
					<% include ./boxUserOnline.viewHomeChat.ejs %>
					<% include ./boxRoomChat.viewHomeChat.ejs %>
				</div>
			</section>
		</div>
	</div>
	<input type="hidden" name="username" value="<%= userData.username %>">
	<input type="hidden" name="avatar" value="<%= userData.avatar %>">
	<input type="hidden" name="prefixSocket" value="<%= prefixSocket %>">
</div>

<script src="chat/js/socket-home.js"></script>