
<base href="/">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Item Management</title>
<link rel="shortcut icon" href="./../../../Backend/images/home.png" />
<link href="Backend/css/bootstrap.min.css" rel="stylesheet">
<link href="Backend/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="Backend/css/sb-admin.css" rel="stylesheet">
<link href="Backend/css/custom.css" rel="stylesheet">
<script src="Backend/js/ckeditor/ckeditor.js"></script>