<%
    showBoxListInvitation = (totalRequest, requestList, type) => {
        xhtml = ``;
        if(totalRequest > 0) {
            xhtmlButton = ``;
            if(type == "receive") {
                xhtmlButton = `<button type="button" class="btn btn-block btn-primary control-add-friend-accept">Đồng ý</button>
                            <button type="button" class="btn btn-block btn-defaultt control-add-friend-deny" >Xóa</button>`;
            }else if(type == "send") {
                xhtmlButton = `<button type="button" class="btn btn-block btn-primary">Huỷ yêu cầu</button>`;
            }else if(type == "friend") { 
                xhtmlButton = `<button type="button" class="btn btn-block btn-primary">Xóa bạn bè</button>`;
            };;

            for(let i = 0; i < totalRequest; i++){ 
                let request     = requestList[i];
                let userAvatar  = 'upload/users/' + request.avatar;
                let username    = request.username;
                xhtml += `<div class="user-invite" >
                        <div  class="col-md-7 col-sm-7 col-xs-7 user-avatar">
                            <img class="contacts-list-img" src="${userAvatar}" alt="${username}">
                            <h5>${username}</h5>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5 btn-action-invite">${xhtmlButton}</div>
                    </div>`;
            }
        }else {
             xhtml = `<p>Bạn có 0 lời mời hoặc bạn bè nào.</p>`;
        }
        return xhtml;
    } 
%>
