<%NameAdmin = systemConfig.NameAdmin;%>
<% showmenu = (userinfo) =>{
    let linklogin = systemConfig.prefixBlog + `/auth/login`;
    let linklogout = systemConfig.prefixBlog + `/auth/logout`;
    let linkad = systemConfig.prefixAdmin + `/dashboard`;
    let xhtmlmenu = '';
    if(Object.keys(userinfo).length > 0){
        xhtmlmenu = `<li><a href="${linklogout}"> Đăng Xuất </a></li>`;
        if(userinfo.username == NameAdmin){
            xhtmlmenu += `<li><a href="${linkad}"> Vùng Quản Trị </a></li>`;
        }
    }
    else{
        xhtmlmenu = `<li><a href="${linklogin}"> Đăng Nhập</a></li>`;
    }
    return xhtmlmenu;
}%>