<% 
    selectboxHelper = (name, items, optionSelected = "") => {
        let xhtml = "";
        items.forEach((item) =>{
            let selected = (item._id == optionSelected) ? `selected="selected"` : '';
            let id       = (item._id == undefined) ? "allvalue" : item._id;
            xhtml += `<option value="${id}" ${selected} >${item.username}</option>`;
        });

        return `<select name="${name}" class="form-control" >${xhtml}</select>`;
    }
%>

