<footer class="main-footer">
   <div class="container">
       <div class="pull-right hidden-xs">
           <b>Version web chat</b>
       </div>
       <strong>Nodejs Learning</strong>
   </div>
   <!-- /.container -->
</footer>