<% include ./../../blog/helper/format-date.ejs %>
<% include ./../helpers/show-box-user.ejs %>
<%
    const linkPrefix = systemConfig.prefixChat; //chat
    const folderUpload = "upload/users/";
%>
<header class="main-header">
	<nav class="navbar navbar-static-top">
		<div class="container">
			<% include ./../elements/navbar-header %>
			<% include ./../elements/navbar-left %>
			<% include ./../elements/navbar-right %>
		</div>
	</nav>
</header>

			