<% include ./../helpers/show-box-request-friend %>
<%
	if(typeof userData.totalreq == "undefined"){
		userData.totalreq = 0;
	}
%>
<li class="dropdown notifications-menu" id="area-notify-addfriend">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-fw fa-user-plus"></i>
		<span class="label label-warning total-user-invite"><%= (userData.totalreq) %></span>
	</a>
	<ul class="dropdown-menu">
		<%- showBoxRequestFriend(userData.totalreq, userData.reqFrom) %>
	</ul>
</li>