<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        <% include ./navbar-right-messages %>
        <% include ./navbar-right-notify %>
        <%- showBoxUser(userData) %>
    </ul>
</div>